USE [StoresManagerDB]
GO
/****** Object:  Table [Items]    Script Date: 2026-02-11 2:14:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Items](
	[ItemID] [int] IDENTITY(100,1) NOT NULL,
	[Item] [nvarchar](500) NOT NULL,
	[UnitID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ItemID] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Stores]    Script Date: 2026-02-11 2:14:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Stores](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[Store] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_StoreID] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Store] UNIQUE NONCLUSTERED 
(
	[Store] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [StoreStocks]    Script Date: 2026-02-11 2:14:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StoreStocks](
	[StoreStockID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NULL,
 CONSTRAINT [PK_StoreStockID] PRIMARY KEY CLUSTERED 
(
	[StoreStockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Store_Item] UNIQUE NONCLUSTERED 
(
	[StoreID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transactions]    Script Date: 2026-02-11 2:14:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[UnitID] [int] NOT NULL,
	[FromStore] [int] NULL,
	[ToStore] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[IsCancelled] [bit] NOT NULL,
 CONSTRAINT [PK_TransactionID] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TransactionTypes]    Script Date: 2026-02-11 2:14:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TransactionTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionType] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_TypeID] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Type] UNIQUE NONCLUSTERED 
(
	[TransactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Units]    Script Date: 2026-02-11 2:14:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Units](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[Unit] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_UnitID] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Unit] UNIQUE NONCLUSTERED 
(
	[Unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Users]    Script Date: 2026-02-11 2:14:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](500) NOT NULL,
	[PasswordHash] [nvarchar](50) NOT NULL,
	[Permissions] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Items] ADD  CONSTRAINT [DF_CreatCategoryNow]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Items] ADD  CONSTRAINT [DF_ActiveCategory]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Stores] ADD  CONSTRAINT [DF_ActiveStore]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Transactions] ADD  CONSTRAINT [DF_CreatedTransactionNow]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Transactions] ADD  CONSTRAINT [DF_QuantityEqualZero]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [Transactions] ADD  CONSTRAINT [DF_NotCancelled]  DEFAULT ((0)) FOR [IsCancelled]
GO
ALTER TABLE [Users] ADD  CONSTRAINT [DF_ActiveUser]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Units] FOREIGN KEY([UnitID])
REFERENCES [Units] ([UnitID])
GO
ALTER TABLE [Items] CHECK CONSTRAINT [FK_Items_Units]
GO
ALTER TABLE [Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Users] FOREIGN KEY([CreatedBy])
REFERENCES [Users] ([UserID])
GO
ALTER TABLE [Items] CHECK CONSTRAINT [FK_Items_Users]
GO
ALTER TABLE [Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_Users] FOREIGN KEY([CreatedBy])
REFERENCES [Users] ([UserID])
GO
ALTER TABLE [Stores] CHECK CONSTRAINT [FK_Stores_Users]
GO
ALTER TABLE [StoreStocks]  WITH CHECK ADD  CONSTRAINT [FK_ItemID_StoreStocks_Items] FOREIGN KEY([ItemID])
REFERENCES [Items] ([ItemID])
GO
ALTER TABLE [StoreStocks] CHECK CONSTRAINT [FK_ItemID_StoreStocks_Items]
GO
ALTER TABLE [StoreStocks]  WITH CHECK ADD  CONSTRAINT [FK_StoreStocks_Stores] FOREIGN KEY([StoreID])
REFERENCES [Stores] ([StoreID])
GO
ALTER TABLE [StoreStocks] CHECK CONSTRAINT [FK_StoreStocks_Stores]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [FK_CreatedBy_Transactions_Users] FOREIGN KEY([CreatedBy])
REFERENCES [Users] ([UserID])
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [FK_CreatedBy_Transactions_Users]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [FK_ItemID_Transactions_Items] FOREIGN KEY([ItemID])
REFERENCES [Items] ([ItemID])
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [FK_ItemID_Transactions_Items]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_FromStore] FOREIGN KEY([FromStore])
REFERENCES [Stores] ([StoreID])
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [FK_Transactions_FromStore]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_ToStore] FOREIGN KEY([ToStore])
REFERENCES [Stores] ([StoreID])
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [FK_Transactions_ToStore]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Units] FOREIGN KEY([UnitID])
REFERENCES [Units] ([UnitID])
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [FK_Transactions_Units]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [FK_TypeID_Transactions_Users] FOREIGN KEY([TypeID])
REFERENCES [TransactionTypes] ([TypeID])
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [FK_TypeID_Transactions_Users]
GO
ALTER TABLE [Items]  WITH CHECK ADD  CONSTRAINT [CK_CreatedItemNow] CHECK  (([CreatedAt]<=getdate()))
GO
ALTER TABLE [Items] CHECK CONSTRAINT [CK_CreatedItemNow]
GO
ALTER TABLE [Items]  WITH CHECK ADD  CONSTRAINT [CK_ItemNameLength] CHECK  ((len([Item])>=(2)))
GO
ALTER TABLE [Items] CHECK CONSTRAINT [CK_ItemNameLength]
GO
ALTER TABLE [Stores]  WITH CHECK ADD  CONSTRAINT [CK_StoreNameLength] CHECK  ((len([Store])>=(2)))
GO
ALTER TABLE [Stores] CHECK CONSTRAINT [CK_StoreNameLength]
GO
ALTER TABLE [StoreStocks]  WITH CHECK ADD  CONSTRAINT [CK_QuantityLargerThanOrEqualZero] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [StoreStocks] CHECK CONSTRAINT [CK_QuantityLargerThanOrEqualZero]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [CK_PositiveQuantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [CK_PositiveQuantity]
GO
ALTER TABLE [Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transaction_Stores] CHECK  (([FromStore] IS NOT NULL OR [ToStore] IS NOT NULL))
GO
ALTER TABLE [Transactions] CHECK CONSTRAINT [CK_Transaction_Stores]
GO
ALTER TABLE [TransactionTypes]  WITH CHECK ADD  CONSTRAINT [CK_TypeNameLength] CHECK  ((len([TransactionType])>=(2)))
GO
ALTER TABLE [TransactionTypes] CHECK CONSTRAINT [CK_TypeNameLength]
GO
ALTER TABLE [Units]  WITH CHECK ADD  CONSTRAINT [CK_UnitNameLength] CHECK  ((len([Unit])>=(2)))
GO
ALTER TABLE [Units] CHECK CONSTRAINT [CK_UnitNameLength]
GO
ALTER TABLE [Users]  WITH CHECK ADD  CONSTRAINT [CK_PasswordLength] CHECK  ((len([PasswordHash])>=(3)))
GO
ALTER TABLE [Users] CHECK CONSTRAINT [CK_PasswordLength]
GO
ALTER TABLE [Users]  WITH CHECK ADD  CONSTRAINT [CK_UserNameLength] CHECK  ((len([UserName])>=(2)))
GO
ALTER TABLE [Users] CHECK CONSTRAINT [CK_UserNameLength]
GO
