<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<ConnectionStrings>
		<add name="StoresManagerDB"
			 connectionString="Data Source=.;Initial Catalog=StoresManagerDB;Integrated Security=true;"/>
	</ConnectionStrings>
</configuration>